.wrapper--login2 {
    margin-top: 12px;
    margin-left: 10px;
    position: absolute;
}

.wrapper--desafios2{
    margin-top: 12px;
    margin-left: 12px;
    position: absolute;
}

.wrapper--loja2 {
    margin-top: 12px;
    margin-left: 15px;
    position: absolute;
}