.container {
    background: #303030;
}

.logoContainer {
    margin-left: -55px;
    margin-top: 35px;
    position: absolute;
}

.logoImage {
    margin-top: -60px;
    position: absolute;
}

.searchBarContainer {
    margin-left: 110px;
}

.searchBarInnerContainer--searchbar1 {
    width: 650px;
}

.searchBarContainer--searchbar2 {
    width: 100px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #59ff00;

}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
    background: transparent;
    color: #fff;
}

.searchBarIcon--search {
    color: #59ff00;
}

.imageElement--imgcontato {
    position: relative;
    left: -45px;
    top: 20px;
}

.productBrand {
    color: white;
}


